
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.page-header-box {
    padding-bottom: 0px;
    margin: 40px 0 0px;
}
.checkbox2_mrgn label h2{
	margin-top: 0px;
    margin-bottom: 15px;
}
.attributes_box .form-group .filled-in{
	margin-top: 2px;

}

.form-group.checkbox2-box {
    float: left;
    width: 100%;
}
.form-group.checkbox2-box label {
    float: left;
      width: 100%;

}
.form-group.checkbox2-box label input {
    float: left;

}
.form-group.checkbox2-box label h3 {
    float: left;
margin-top: 5px;
font-size: 18px;
margin-left: 10px;

}
.form-group.checkbox2-box p{

	font-weight: 600;
}
.container{
    width: 1170px;
    padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.page-header-box h1{
    font-size:36px;
    font-weight: 400;
}
.attributes_bx h2{
    font-size:30px;
    font-weight: 400;

}
.attributes_bx .form-group input{
    float: left;
    margin-top: 4px;
}
.attributes_bx .form-group h3{
    font-size: 24px;
     font-weight: 400;
     margin-top: 0px;
}
.attributes_box{
    margin-left: 22px;
}
.attributes_box .form-group label{
font-size: 14px;
line-height: 1.42857143;
color: #333;
}
.attributes_box .form-group{
    margin-bottom: 15px;
}